<ion-header>
  <ion-toolbar>
    <ion-title>technologies</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>HTML
  </h1>
  <p>HTML(Hypertext Markup language) is the code that is used to structure a web page and its content. For example, content could be structured within a set of paragraphs, a list of bulleted points, or using images and data tables</p>
  <h1>CSS</h1>
  <p>CSS (Cascading style sheets) is used to style and layout web pages - for example, to alter the font, colour, size, and spacing of your content,split it into multiple columns, or add animations and other decorative features </p>
  <h1>JQuery</h1>
  <p>jQuery is a fast,small,and feature-rich JavaScript library. It makes things like HTML document traversal and manipulation, event handling, animation, and Ajax much simpler with an easy-to-use API that works across a multitude of browsers. With a combination of versatility and extensibility, jQuery has changed the way that millions of people write JavaScript. 
    Explanation Please refer to solution in this step.  </p>
  <h1>Visual Studio Code</h1>
  <p>Visual Studio code is a streamlined code editor with support for development operations like debugging, task running, and version control. It aims to provide just the tools a developer needs for a quick code-build-debug cycle and leaves more complex workflows to fuller featured IDEs, such as Visual Studio IDE. </p>
  <h1>JQuery mobile</h1>
  <p>jQuery Mobile is a UI framework geared to mobile applications that is built on jQuery. </p>
  <h1>Chrome</h1>
  <p>Chrome is designed to be the fastest web browser. With one click, it loads web pages, multiple tabs, and applications with lightning speed. Chrome is fitted with V8, a faster and more powerful JavaScript engine. Chrome also loads web pages faster by using the WebKit open source rendering engine </p>
</ion-content>
