<ion-header>
  <ion-toolbar>
    <ion-title>goal</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>GOALS
  </h1>
  <ul>
<li>mobile banking allows customers to be able to the banking service from any time and anywhere</li>
<li>I will save a huge of time for working persons like businessmen by making use of mobile applications to process their payments or recieve funds from clients</li>


  </ul>

    <h1>SUB-GOALS
    </h1>
    <ul>
  <li>It works by only using mobile numbers</li>
  <li>It will protect from fear of losing money and from losing notes</li>
  
  
    </ul>
  <p>new</p>
 
</ion-content>
