<ion-header>
  <ion-toolbar>
    <ion-title>personas</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img scr="assets/imag22.jpeg">
 
  <p>David - Stretched & Savvy 
    * European Mobile Banking Benchmark; User Experience, 2017  
    David is a 37-year-old married man who has just adopted a baby girl. The company David works for recently relocated him to a new city where his bank has no branches. But since David has been banking online for nearly a decade, he's comfortable conducting his banking through digital touchpoints, and now he's ready to do more of it via his mobile phone. </p>
   
    <p>Amelia likes her job and tries to go the extra mile. She is proficient in using various applications, but not really a tech savy. Amelia likes applications which give proper indications and let her recover easily from possible errors. In her spare time, she loves writing on fashion blog. Amelia has golden retriever called Sparky. </p>
</ion-content>
