<ion-header>
  <ion-toolbar>
    <ion-title>review</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>Today i will be talking about Pros and Cons of this application   </p>
  <h1>PROS
  </h1>
  <ul>
<li>User friendly</li>
<li>Acessing the bank 24/7</li>
<li>Strengthening security</li>
<li>Highly rated mobile bank apps</li>
  </ul>
  <h1>Cons
  </h1>
  <ul>
<li>Internet scam</li>
<li>Internet requirement</li>
<li>No cash deposit option</li>

  </ul>
  <p>There are more pros then cons</p>
</ion-content>
