<ion-header>
  <ion-toolbar>
    <ion-title>review</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>Today i will be talking about Pros and Cons of this application   </p>
  <h1>PROS
  </h1>
  <ul>
<li>User friendly</li>
<li>Acessing the bank 24/7</li>
<li>Strengthening security</li>

  </ul>
  <h1>Cons
  </h1>
  <ul>
<li>mobile banking allows customers to be able to the banking service from any time and anywhere</li>
<li>I will save a huge of time for working persons like businessmen by making use of mobile applications to process their payments or recieve funds from clients</li>
<li>I want to make user friendly interface</li>

  </ul>
</ion-content>
